{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits de la categorie {{ category }}</h1><br>

    <p><a href="{{ path('product_new') }}"><button class="btn btn-info">Créer un produit</button></a></p>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Vendeur</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td><a href="{{ path('user_products_index', { 'id': product.user.id }) }}">{{ product.user }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        {% if app.user.username == product.user.username or app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="list-group-item">
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
